<div class="sidebar">
    <div class="sidebarTop">
        <div class="sidebar-header">
            <a href="/">
                <img src="/public/images/amazon-logo_01.png" alt="Amazon Logo" />
            </a>
        </div>

        <div class="border">
            <div class="logoPreBorder"></div>

            <div class="logoBorder"></div>

            <div class="logoPostBorder"></div>
        </div>
    </div>

    <div class="sidebarMid">
        <div class="sidebar-list">
            <h6><a href="/dashboard"><span class="iconify listIcon" data-icon="ic:baseline-pages" style="color: inherit;" data-width="24" data-height="24"></span><span class="spanAnchorTag">&#160;&#160;</span><span class="linkText">VISÃO GERAL</span></a></h6>
            
            <h6><a href="/dashboard"><span class="iconify listIcon" data-icon="bi:book-half" style="color: inherit;" data-width="24" data-height="24"></span><span class="spanAnchorTag">&#160;&#160;</span><span class="linkText">LIVROS</span></a></h6>

            <h6><a href="/dashboard"><span class="iconify listIcon" data-icon="healthicons:mental-disorders" style="color: inherit;" data-width="24" data-height="24"></span><span class="spanAnchorTag">&#160;&#160;</span><span class="linkText">AUTOAJUDA</span></a></h6>
            
            <h6><a href="/dashboard"><span class="iconify listIcon" data-icon="ic:outline-castle" style="color: inherit;" data-width="24" data-height="24"></span><span class="spanAnchorTag">&#160;&#160;</span><span class="linkText">FICÇÃO</span></a></h6>
            
            <h6><a href="/dashboard"><span class="iconify listIcon" data-icon="bi:bank" style="color: inherit;" data-width="24" data-height="24"></span><span class="spanAnchorTag">&#160;&#160;</span><span class="linkText">POLÍTICA</span></a></h6>
            
            <h6><a href="/dashboard"><span class="iconify listIcon" data-icon="ic:baseline-school" style="color: inherit;" data-width="24" data-height="24"></span><span class="spanAnchorTag">&#160;&#160;</span><span class="linkText">ACADÊMICOS</span></a></h6>
            
            <h6><a href="/autores"><span class="iconify listIcon" data-icon="bi:blockquote-left" style="color: inherit;" data-width="24" data-height="24"></span><span class="spanAnchorTag">&#160;&#160;</span><span class="linkText">AUTORES</span></a></h6>
            
            <h6><a href="/dashboard"><span class="iconify listIcon" data-icon="ic:round-apartment" style="color: inherit;" data-width="24" data-height="24"></span><span class="spanAnchorTag">&#160;&#160;</span><span class="linkText">EDITORAS</span></a></h6>
        </div>
    </div>

    <div class="sidebarBottom">
        <div class="sidebar-toggle">
            <span class="iconify toggleIconOpen" data-icon="fluent:arrow-export-ltr-16-filled" style="color: var(--color-secundary);" data-width="36" data-height="36"></span>
            <span class="iconify toggleIconClose" data-icon="fluent:arrow-export-rtl-16-filled" style="color: var(--color-secundary);" data-width="36" data-height="36"></span>
        </div>
    </div>
</div>