<div class="graphs">
    <div class="gteste">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
    </div>
    
    <div class="gteste">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
    </div>
    <div class="gteste"></div>
</div>