<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
	<head>
		<%- include("partials/headTag.ejs") %>

        <style type="text/css">
            body {
                overflow: hidden;
            }

            a, a:hover, a:focus, a:active {
                text-decoration: none;
                color: inherit;
            }

            :root {
                --backView-left--width: 25%;
                --slider--width: 360px;
                --slider-height: 360px;
                --img-counter: 4;
            }

            .landingContent {
                width: 100vw;
                height: 100vh;
            }

            .backView {
                width: inherit;
                height: inherit;
                display: flex;
                z-index: -9999;
            }

            .backView-left {
                position: relative;
                width: var(--backView-left--width);
                background: linear-gradient(0deg, rgba(19,25,33,1) 2.5%, rgba(35,47,62,1) 50%, rgba(19,25,33,1) 97.5%);
            }

            .backView-right {
                position: relative;
                width: calc(100% - var(--backView-left--width));
                background: linear-gradient(90deg, rgba(255,153,0,1) 5%, rgba(255,174,0,1) 50%, rgba(255,153,0,1) 95%);
                -webkit-box-shadow: -5px 0px 10px 0px rgba(15,17,17, 0.5);
                -moz-box-shadow: -5px 0px 10px 0px rgba(15,17,17, 0.5);
                box-shadow: -5px 0px 10px 0px rgba(15,17,17, 0.5);
            }

            .backView-right-top {
                height: 75%;
            }

            .backView-right-mid {
                height: 15%;
                display: flex;
            }

            .leftBar {
                width: 20%;
            }

            .rightBar {
                width: 80%;
                background: linear-gradient(90deg, rgba(19,25,33,1) 2.5%, rgba(35,47,62,1) 50%, rgba(19,25,33,1) 97.5%);
                border-top-left-radius: 12px;
                border-bottom-left-radius: 12px;
                -webkit-box-shadow: -2.5px 2.5px 5px 0px rgba(15,17,17,1);
                -moz-box-shadow: -2.5px 2.5px 5px 0px rgba(15,17,17,1);
                box-shadow: -2.5px 2.5px 5px 0px rgba(15,17,17,1);
                padding: 12px;
                display: flex;
                justify-content: center;
            }
            
            .buttonIcon {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .buttonAnchor {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-self: center;
                -ms-flex-item-align: center;
                align-self: center;
                text-decoration: none;
                cursor: pointer;
                background-color: transparent;
                border: 4px solid var(--color-secundary);
                border-radius: 4px;
                color: var(--color-darkPrimary);
                padding: 16px;
                border-color: var(--color-secundary);
                box-shadow: 0 0 40px 40px var(--color-secundary) inset, 0 0 0 0 var(--color-secundary);
                -webkit-transition: all 140ms ease-in-out;
                transition: all 140ms ease-in-out;
                text-transform: uppercase;
            }

            .buttonAnchor:hover, .buttonAnchor:focus {
              color: #fff;
              border-radius: 0;
              outline: 0;
              box-shadow: 0 0 7.25px 0 var(--color-secundary) inset, 0 0 5px 4px var(--color-secundary);
            }

            .buttonAnchorSpan {
                display: none;
            }

            .buttonImg {
                position: absolute;
                right: 0;
                display: flex;
                align-self: center;
            }

            .buttonImg img {
                width: 150px;
                height: 100px;
            }

            .backView-right-bot {
                height: 10%;
            }

            .frontView {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50vw;
                height: 100vh;
                z-index: 9999;
                margin: 0;
            }

            .frontView-carrousel {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .frontViewSlider {
                width: var(--slider--width);
                height: var(--slider-height);
                overflow: hidden;
                border-radius: 50%;
                -webkit-box-shadow: 5px 0px 10px 0px rgba(15,17,17,0.5);
                -moz-box-shadow: 5px 0px 10px 0px rgba(15,17,17,0.5);
                box-shadow: 5px 0px 10px 0px rgba(15,17,17,0.5);
                /* animation: scroll 4s linear infinite; */
            }
            
            @keyframes scroll {
                0% {
                    transform: translateX(0);
                }

                100% {
                    transform: translateX(calc(-1 * calc(var(--slider--width) * calc(var(--img-counter) / 2))));
                }
            }

            .carrousel {
                width: calc(var(--slider--width) * var(--img-counter));
                height: var(--slider-height);
                display: flex;
            }

            .carrouselImg img {
                max-width: var(--slider--width);
                max-height: var(--slider-height);
            }

            /* .frontView-txt {
                width: 50%;
                max-height: 50%;
            } */

            @media only screen and (min-width: 1600px) {
                .buttonAnchorSpan {
                    display: block;
                }

                .buttonImg {
                    margin-right: 1.15em;
                }
            }
        </style>
	</head>

	<body>
        <div class="landingContent">
            <div class="backView">
                <div class="backView-left"></div>

                <div class="backView-right">
                    <div class="backView-right-top"></div>

                    <div class="backView-right-mid">
                        <div class="leftBar"></div>

                        <div class="rightBar">
                            <div class="buttonIcon">
                                <a class="buttonAnchor" href="/dashboard">Acessar Visualização<span class="buttonAnchorSpan">&#160;de Dados</span></a>
                            </div>

                            <a class="buttonImg">
                                <img src="/public/images/amazon-logo_01.png" alt="Amazon Logo" />
                            </a>
                        </div>
                    </div>
                    
                    <div class="backView-right-bot"></div>
                </div>

                <div class="frontView">
                    <div class="frontView-carrousel">
                        <div class="frontViewSlider">
                            <div class="carrousel">
                                <div class="carrouselImg"><img src="/public/images/book_08.jpg" alt=""/></div>
                                
                                <div class="carrouselImg"><img src="/public/images/book_10.jpg" alt=""/></div>
                                
                                <div class="carrouselImg"><img src="/public/images/book_09.jpg" alt=""/></div>
        
                                <div class="carrouselImg"><img src="/public/images/book_05.jpg" alt=""/></div>
                                
                                <!-- <div class="carrouselImg"><img src="" alt=""/></div> -->
                                
                                <!-- <div class="carrouselImg"><img src="" alt=""/></div> -->
                            </div>
    
                            <div class="carrouselNav">
                                <div class="carrNavBtn"></div>
                                
                                <div class="carrNavBtn"></div>
                                
                                <div class="carrNavBtn"></div>
                                
                                <div class="carrNavBtn"></div>
                                
                                <!-- <div class="carrNavBtn"></div> -->
                                
                                <!-- <div class="carrNavBtn"></div> -->
                            </div>
                        </div>
                    </div>
    
                    <!-- <div class="frontView-txt"></div> -->
                </div>
            </div>
        </div>

		<!-- <%- body %> -->
	</body>
</html>
