<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
	<head>
		<%- include("partials/dashboard/content/headTag.ejs") %>

        <%- include("partials/landingPage/landingPageStyle.ejs") %>
	</head>

	<body>
		<%- body %>
	</body>
</html>
