<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
	<head>
		<meta charset="utf-8" />

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" type="text/css" href="/public/css/smacss.css" />

		<title><%=((typeof title === "undefined" || !title) ? "Amazon Books Data Analysing" : (title + " - Project"))%></title>
	</head>

	<body>
		<div class="sidebar">
			<h1>teste SIDEBAR</h1>
		</div>

		<div class="dashboard">
			<h2>teste DASHBOARD</h2>
			<h2>teste DASHBOARD</h2>
			<h2>teste DASHBOARD</h2>
		</div>
	</body>
</html>
