<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
	<head>
		<meta charset="utf-8" />

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" type="text/css" href="/public/css/smacss.css" />
		<!-- <link rel="stylesheet" type="text/css" href="/public/css/dashboard/dashboard.css" /> -->

		<title><%=((typeof title === "undefined" || !title) ? "Amazon Books Data Analysing" : (title + " - Project"))%></title>
		
		<style>
			body {
				background-color: var(--color-terciary);
			}

			button {
				cursor: pointer;
				background: none;
				border: none;
				color: inherit;
				font: inherit;
				outline: inherit;
				padding: 0;
			}

			a, a:hover, a:focus, a:active {
      			text-decoration: none;
      			color: inherit;
 			}

			:root {
				--sidebar-width: 15vw;
				--sidebar-mini-width: 5vw;
			}

			::-webkit-scrollbar{
  				display: none;
			}

			.content {
				display: flex;
				height: 100vh;
				width: 100vw;
			}

			.sidebar {
				height: 100vh;
				width: var(--sidebar-width);
				background: linear-gradient(0deg, rgba(19,25,33,1) 5%, rgba(35,47,62,1) 50%, rgba(19,25,33,1) 95%);
				box-shadow: 4px 4px 5px 0px rgba(15,17,17, 0.4);
				-webkit-box-shadow: 4px 4px 5px 0px rgba(15,17,17, 0.4);
				-moz-box-shadow: 4px 4px 5px 0px rgba(15,17,17, 0.4);
				color: #fff;
				padding: 12px;
				display: flex;
				flex-direction: column;
  				justify-content: space-between;
  				align-items: center;
				font-family: var(--font-light);
				font-size: .65em;
				position: relative;
				transition: width .325s;
				flex-shrink: 0;
			}

			.sidebar--mini {
				width: var(--sidebar-mini-width);
			}

			.sidebar--mini .linkText {
				display: none;
			}

			.sidebar--mini .dashboard {
				margin-left: var(--sidebar-mini-width);
			}

			.sidebar--mini .toggleIconOpen {
				display: flex;
			}

			.sidebar--mini .toggleIconClose {
				display: none;
			}

			.dashboard--mini {
				min-width: calc(100vw - var(--sidebar-mini-width));
			}

			.sidebarTop {
				display: flex;
				flex-direction: column;
  				justify-content: flex-start;
  				align-items: center;
			}

			.sidebar-header {
				border-bottom: solid 1px var(--color-terciary);
			}

			.sidebar-header button img {
				width: 135px;
				height: 90px;
			}

			.sidebar-list h6 a {
				display: flex;
				align-items: center;
				padding: 8px;
				margin-top: .25em;
				margin-bottom: .25em;
			}

			.sidebar-list h6 a:hover {
				color: var(--color-darkPrimary);
				background-color: var(--color-secundary);
				border-radius: 7.25px;
				-webkit-box-shadow: 2px 2px 5px 0px rgba(196, 85, 0, 0.4);
				-moz-box-shadow: 2px 2px 5px 0px rgba(196, 85, 0, 0.4);
				box-shadow: 2px 2px 5px 0px rgba(196, 85, 0, 0.4);
				transition: .325s;
			}

			.sidebar-toggle {
				cursor: pointer;
			}

			.toggleIconOpen {
				display: none;
			}

			.dashboard {
				width: 100%;
				height: 100vh;
				overflow-y: auto;
			}

			.title {
				width: 100%;
			}
			
			.title h1 {
				padding: 12px;
				background: linear-gradient(90deg, rgba(255,174,0,1) 5%, rgba(255,153,0,1) 50%, rgba(255,174,0,1) 95%);
				-webkit-box-shadow: 0px 4px 5px 0px rgba(15,17,17, 0.5);
				-moz-box-shadow: 0px 4px 5px 0px rgba(15,17,17, 0.5);
				box-shadow: 0px 4px 5px 0px rgba(15,17,17, 0.5);
				text-align: center;
				font-family: var(--font-theme);
				letter-spacing: .5rem;
			}

			.graphs {
				margin: 12px;
			}

			@media only screen and (min-width: 1200px) {
				.sidebar-list h6 a {
					margin-top: .75em;
					margin-bottom: .75em;
				}
			}

			@media only screen and (min-width: 1440px) {
				.sidebar {
					font-size: .7em;
				}
				
				.sidebar-header button img {
					width: 150px;
					height: 100px;
				}

				.sidebar-list h6 a {
					padding-left: 2em;
					padding-right: 2em;
				}
			}

			@media only screen and (min-width: 1600px) {
				:root {
					--sidebar-width: 12.5vw;
					--sidebar-mini-width: 3.5vw;
				}
				
				.sidebar {
					font-size: .75em;
				}

				.sidebar-header button img {
					width: 165px;
					height: 110px;
				}

				.sidebar-list h6 a {
					padding-left: 1.5em;
					padding-right: 1.5em;
				}
				
			}

			@media only screen and (min-width: 1920px) {
				:root {
					--sidebar-width: 10vw;
					--sidebar-mini-width: 2.5vw;
				}
				
				.sidebar-header button img {
					width: 174px;
					height: 116px;
				}

				.sidebar-list h6 a {
					padding-left: 1.25em;
					padding-right: 1.25em;
				}
			}

			.gteste {
					background-color: red;
					width: 100%;
					height: 680px;
					margin-bottom: 3em;
				}
		</style>

		<script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
	</head>

	<body>
		<div class="content">
			<div class="sidebar">
				<div class="sidebarTop">
					<div class="sidebar-header">
						<button>
							<img src="/public/images/amazon-logo_01.png" alt="Amazon Logo" />
						</button>
					</div>
				</div>

				<div class="sidebarMid">
					<div class="sidebar-list">
						<h6><a href="/"><span class="iconify" data-icon="ic:baseline-pages" style="color: inherit;" data-width="24" data-height="24"></span>&#160;&#160;<span class="linkText">VISÃO GERAL</span></a></h6>
						
						<h6><a href="/"><span class="iconify" data-icon="bi:book-half" style="color: inherit;" data-width="24" data-height="24"></span>&#160;&#160;<span class="linkText">LIVROS</span></a></h6>

						<h6><a href="/"><span class="iconify" data-icon="healthicons:mental-disorders" style="color: inherit;" data-width="24" data-height="24"></span>&#160;&#160;<span class="linkText">AUTOAJUDA</span></a></h6>
						
						<h6><a href="/"><span class="iconify" data-icon="ic:outline-castle" style="color: inherit;" data-width="24" data-height="24"></span>&#160;&#160;<span class="linkText">FICÇÃO</span></a></h6>
						
						<h6><a href="/"><span class="iconify" data-icon="bi:bank" style="color: inherit;" data-width="24" data-height="24"></span>&#160;&#160;<span class="linkText">POLÍTICA</span></a></h6>
						
						<h6><a href="/"><span class="iconify" data-icon="ic:baseline-school" style="color: inherit;" data-width="24" data-height="24"></span>&#160;&#160;<span class="linkText">ACADÊMICOS</span></a></h6>
						
						<h6><a href="/"><span class="iconify" data-icon="bi:blockquote-left" style="color: inherit;" data-width="24" data-height="24"></span>&#160;&#160;<span class="linkText">AUTORES</span></a></h6>
						
						<h6><a href="/"><span class="iconify" data-icon="ic:round-apartment" style="color: inherit;" data-width="24" data-height="24"></span>&#160;&#160;<span class="linkText">EDITORAS</span></a></h6>
					</div>
				</div>

				<div class="sidebarBottom">
					<div class="sidebar-toggle">
						<span class="iconify toggleIconOpen" data-icon="fluent:arrow-export-ltr-16-filled" style="color: var(--color-secundary);" data-width="36" data-height="36"></span>
						<span class="iconify toggleIconClose" data-icon="fluent:arrow-export-rtl-16-filled" style="color: var(--color-secundary);" data-width="36" data-height="36"></span>
					</div>
				</div>
			</div>
	
			<div class="dashboard">
				<div class="title">
					<h1>AMAZON BOOKS DATA ANALYSING</h1>
				</div>

				<div class="graphs">
					<div class="gteste">
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
					</div>
					
					<div class="gteste">
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam aliquam repudiandae esse itaque velit praesentium saepe ipsum iure. Quae dolor quo tempora ipsa temporibus minima iusto accusantium earum at aliquam.</p>
					</div>
					<div class="gteste"></div>
				</div>
			</div>
		</div>

		<script>
			{
				const miniClass = "sidebar--mini";
				const menuToggle = document.querySelector(".sidebar");
				const itemToggle = document.querySelector(".sidebar-toggle");
				const localStgKey = "menuToggled";

				if(localStorage.getItem(localStgKey) === "true") {
					menuToggle.classList.add(miniClass);
				}

				const toggleFunction = itemToggle.addEventListener("click", () => {
					menuToggle.classList.toggle(miniClass);
					localStorage.setItem(localStgKey, menuToggle.classList.contains(miniClass));
				});
			}
		</script>
	</body>
</html>
