/* Scalable and Modular Architecture for CSS */
/* Base CSS */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}


/* Layout CSS */
html, body {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}
  

/* Fluid Typography CSS */
body {
  background-color: var(--color-terciary);
  font-family: var(--font-body);
  color: var(--color-darkPrimary);
}


/* Button Settings */
button {
  cursor: pointer;
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  outline: inherit;
  padding: 0;
}

button:hover {
  transition: .325s;
}


/* Anchor Settings */
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}


/* Headers Settings */
h1 {
  font-size: 1.772em;
}

h2 {
  font-size: 1.611em;
}

h3 {
  font-size: 1.464em;
}

h4 {
  font-size: 1.331em; 
}

h5 {
  font-size: 1.21em;
}

h6 {
  font-size: 1.1em;
}

code {
  font-family: var(--font-code);
}
  

:root {
  /* Fonts */
  --font-headline: 'AmazonEmber-Medium';
  --font-body: 'AmazonEmber-Regular';
  --font-light: 'AmazonEmber-Light';
  --font-bold: 'AmazonEmber-Bold';
  --font-theme: 'AmazonEmber-Theme';  
  --font-code: 'Fira Code', monospace;

  /* Font-Size */
  --min-width: 320px;
  --max-width: 800px;
  --min-fontSize: 16px;
  --max-fontSize: 20px;
  font-size: var(--min-fontSize);

  /* Colors */
  --color-primary: #232f3e;
  --color-darkPrimary: #131921;
  --color-darkerPrimary: #0f1111;

  --color-secundary: #ff9900;
  --color-lighterSecundary: #f6ca00;
  --color-lightSecundary: #febd69;
  --color-darkSecundary: #c45500;

  --color-terciary: #f2f2f2;
  --color-lightTerciary: #ddd;
  --color-darkTerciary: #222;
    
  --color-alt: #146eb4;
  --color-darkAlt: #005276;
}


/* Font-Size Calculation */
@media only screen and (min-width: 320px) and (max-width: 800px) {
  :root {
    --calc-a: calc(20 - 16);
    --calc-b: calc(var(--calc-b1) / var(--calc-b2));
    --calc-b1: calc(100vw - var(--min-width));
    --calc-b2: calc(800 - 320);
    --calc-c: calc(var(--calc-a) * var(--calc-b));
    font-size: calc(var(--min-fontSize) + var(--calc-c));
  }
}

@media only screen and (min-width: 800px) {
  :root {
    font-size: var(--max-fontSize);
  }
}


/* Scrollbar */
::-webkit-scrollbar{
  display: none;
}

/* Placeholder */
/* Edge */
::-webkit-input-placeholder {
  color: var(--color-darkPrimary);
}

/* Internet Explorer */
:-ms-input-placeholder {
  color: var(--color-darkPrimary);
}

::placeholder {
  color: var(--color-darkPrimary);
}


/* Custom Styles */
.flex-align {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-flex-column {
  display: flex;
  flex-direction: column;
}

.grid-center {
  display: grid;
  place-items: center;
}


/* Fonts */
@font-face {
  font-family: 'AmazonEmber-Bold';
  src: url(/public/fonts/AmazonEmber_Bd.ttf) format("truetype");
}

@font-face {
  font-family: 'AmazonEmber-Regular';
  src: url(/public/fonts/AmazonEmber_Rg.ttf) format("truetype");
}

@font-face {
  font-family: 'AmazonEmber-Medium';
  src: url(/public/fonts/Amazon-Ember-Medium.ttf) format("truetype");
}

@font-face {
  font-family: 'AmazonEmber-Light';
  src: url(/public/fonts/AmazonEmber_Lt.ttf) format("truetype");
}

@font-face {
  font-family: 'AmazonEmber-Theme';
  src: url(/public/fonts/AmazonEmber_Th.ttf) format("truetype");
}

@font-face {
  font-family: 'Bookerly-Bold';
  src: url(/public/fonts/Bookerly-Bold.ttf) format("truetype");
}

@font-face {
  font-family: 'Bookerly-Regular';
  src: url(/public/fonts/Bookerly-Regular.ttf) format("truetype");
}


/* RESPONSIVENESS */
@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 576px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 1440px) {}

@media only screen and (min-width: 1600px) {}

@media only screen and (min-width: 1920px) {}

@media only screen and (min-width: 2304px) {}

@media only screen and (min-width: 2560px) {}
