<div class="landingContent">
    <div class="backView">
        <div class="backView-left">
            <h1><span>Amazon Books</span><br />Data Analysing</h1>
        </div>

        <div class="backView-right">
            <div class="backView-right-top">
                <div class="mktTxt">
                    <div class="mktTxt-mid">
                        <p>Ninguém ignora tudo.<br />Ninguém sabe tudo.<br />Todos nós sabemos alguma coisa.<br />Todos nós ignoramos alguma coisa.<br />Por isso aprendemos sempre.</p>
                    </div>
                    
                    <div class="mktTxt-bot">
                        <sub> - Paulo Freire </sub>
                    </div>
                </div>
            </div>

            <div class="backView-right-mid">
                <div class="leftBar"></div>

                <div class="rightBar">
                    <div class="buttonIcon">
                        <a class="buttonAnchor" href="/dashboard">Acessar Visualização<span class="buttonAnchorSpan">&#160;de Dados</span></a>
                    </div>

                    <a class="buttonImg">
                        <img src="/public/images/amazon-logo_01.png" alt="Amazon Logo" />
                    </a>
                </div>
            </div>
            
            <div class="backView-right-bot"></div>
        </div>

        <div class="frontView">
            <div class="frontView-carrousel">
                <div class="frontViewSlider">
                    <div class="carrousel">
                        <div class="carrouselImg"><img src="/public/images/book_08.jpg" alt=""/></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>