<!-- TOTAL RECORDS -->
<%
  total_records = JSON.parse(total_records);
  total_records = total_records['COUNT(proCode)'];
%>

<p> NÚMERO DE REGISTROS COLETADOS: <%= total_records %> </p>


<!-- TOTAL AUTHORS -->
<%
  total_authors = JSON.parse(total_authors);
  total_authors = total_authors['COUNT(autCode)'];
%>

<p> NÚMERO DE AUTORES: <%= total_authors %> </p>


<!-- TOTAL BOOKS -->
<%
  total_books = JSON.parse(total_books);
  total_books = total_books['COUNT(DISTINCT proName)'];
%>

<p> TOTAL DE LIVROS ANALISADOS: <%= total_books %> </p>


<style type="text/css">
    #chart_01, #chart_02 {
        width: 480px;
        height: 480px;
    }

    .apexcharts-canvas {
        background-color: #fff;
        border-radius: 4px;
        -webkit-box-shadow: 0px 0px 5px 5px rgba(221,221,221,1);
        -moz-box-shadow: 0px 0px 5px 5px rgba(221,221,221,1);
        box-shadow: 0px 0px 5px 5px rgba(221,221,221,1);
    }
</style>

<div id="chart_01"></div>
<div id="chart_02"></div>


<%- contentFor("scripts") %>
<script type="text/javascript">
 
  var options = {
      chart: {
        type: 'line',
        toolbar: {
            show: false
        }
      },
      series: [{
        name: 'sales',
        data: [30,40,35,50,49,60,70,91,125]
      }],
      xaxis: {
        categories: [1991,1992,1993,1994,1995,1996,1997, 1998,1999]
      }
  }


  var chart = new ApexCharts(document.querySelector("#chart_01"), options);
  var chart2 = new ApexCharts(document.querySelector("#chart_02"), options);

  chart.render();
  chart2.render();
</script>
