autoajuda
<div id="chartLinPos"></div>
<div id="chartLinRev"></div>

<!-- date x Pos -->
<script>
    var series = JSON.parse(`<%- seriesPos %>`)
    var categories = JSON.parse(`<%- categoriesPos %>`)

    var options = {
			chart: {
				height: 380,
				width: "100%",
				type: "line"
			},
			series: series,
			
			
			xaxis: {
				categories: categories
				
			},

            yaxis: {
                reversed: true
            }
		};

	var chartLinPos = new ApexCharts(document.querySelector("#chartLinPos"), options);
		
	chartLinPos.render();
</script>

<!-- Date x rev -->
<script>
    var series = JSON.parse(`<%- seriesRev %>`)
    var categories = JSON.parse(`<%- categoriesRev %>`)

    var options = {
			chart: {
				height: 380,
				width: "100%",
				type: "line"
			},
			series: series,
			
			
			xaxis: {
				categories: categories
				
			}
		};

	var chartLinRev = new ApexCharts(document.querySelector("#chartLinRev"), options);
		
	chartLinRev.render();
</script>