autoajuda
<div id="chart"></div>

<script>
    var series = JSON.parse(`<%- series %>`)
    var categories = JSON.parse(`<%- categories %>`)


	/* var options = {
          series: series,
          chart: {
          height: 350,
          type: 'line',
          zoom: {
            enabled: false
          },
          animations: {
            enabled: false
          }
        },
        stroke: {
          width: [5,5,4],
          curve: 'straight'
        },
        labels: categories,
        title: {
          text: 'Missing data (null values)'
        },
        xaxis: {
        },
        }; */
    var options = {
			chart: {
				height: 380,
				width: "100%",
				type: "line"
			},
			series: series,
			
			
			xaxis: {
				categories: categories
				
			},

            yaxis: {
                reversed: true
            }
		};

	var chart = new ApexCharts(document.querySelector("#chart"), options);
		
	chart.render();
</script>