autoajuda
<div id="chartLinPos"></div>
<div id="chartLinRev"></div>

<!-- date x Pos -->
<script type="text/javascript">
    var series = JSON.parse(`<%- seriesPos %>`)
    var categories = JSON.parse(`<%- categoriesPos %>`)

    var options = {
			chart: {
				height: 380,
				width: "100%",
				type: "line"
			},
			series: series,
			title: { text: 'Variação de posições ao longo do tempo' },
			
			xaxis: {
				categories: categories,
				title: { text: 'Tempo' }
			},

            yaxis: {
                reversed: true,
				title: { text: 'Quantidade de Reviews' }
            }
		};

	var chartLinPos = new ApexCharts(document.querySelector("#chartLinPos"), options);
		
	chartLinPos.render();
</script>

<!-- Date x rev -->
<script type="text/javascript">
    var series = JSON.parse(`<%- seriesRev %>`)
    var categories = JSON.parse(`<%- categoriesRev %>`)

    var options = {
			chart: {
				height: 380,
				width: "100%",
				type: "line"
			},
			series: series,
			title: { text: 'Quantidade de Reviews ao longo do tempo' },
			
			xaxis: {
				categories: categories,
				title: { text: 'Tempo' }
				
			},
			yaxis: { title: { text: 'Quantidade de Reviews' } }
		};

	var chartLinRev = new ApexCharts(document.querySelector("#chartLinRev"), options);
		
	chartLinRev.render();
</script>