.content {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    height: 100vh;
    width: 15vw;
    background: linear-gradient(0deg, rgba(19,25,33,1) 5%, rgba(35,47,62,1) 50%, rgba(19,25,33,1) 95%);
    border-bottom-right-radius: 42px;
    box-shadow: 4px 4px 5px 0px rgba(15,17,17, 0.4);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(15,17,17, 0.4);
    -moz-box-shadow: 4px 4px 5px 0px rgba(15,17,17, 0.4);
    color: #fff;
    padding: 12px;
    display: flex;
    flex-direction: column;
      justify-content: space-between;
      align-items: center;
    font-family: var(--font-light);
    font-size: .65em;
}

.sidebarTop {
    display: flex;
    flex-direction: column;
      justify-content: flex-start;
      align-items: center;
}

.sidebar-header {
    border-bottom: solid 1px var(--color-terciary);
    margin-bottom: 3rem;
}

.sidebar-header button img {
    width: 135px;
    height: 90px;
}

.sidebar-list h6 a {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
    padding: 8px;
}

.sidebar-list h6 a:hover {
    color: var(--color-darkPrimary);
    background-color: var(--color-secundary);
    border-radius: 7.25px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(196, 85, 0, 0.4);
    -moz-box-shadow: 2px 2px 5px 0px rgba(196, 85, 0, 0.4);
    box-shadow: 2px 2px 5px 0px rgba(196, 85, 0, 0.4);
    transition: .325s;
}

.dashboard {
    min-width: 85vw;
    height: 100vh;
}

.title {
    width: 100%;
}

.title h1 {
    padding: 12px;
    background: linear-gradient(90deg, rgba(255,174,0,1) 5%, rgba(255,153,0,1) 50%, rgba(255,174,0,1) 95%);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(15,17,17, 0.5);
    -moz-box-shadow: 0px 4px 5px 0px rgba(15,17,17, 0.5);
    box-shadow: 0px 4px 5px 0px rgba(15,17,17, 0.5);
    text-align: center;
    font-family: var(--font-theme);
    letter-spacing: .5rem;
}

.graphs {
    margin: 12px;
}

@media only screen and (min-width: 1440px) {
    .sidebar {
        font-size: .7em;
    }
    
    .sidebar-header button img {
        width: 150px;
        height: 100px;
    }

    .sidebar-list h6 a {
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media only screen and (min-width: 1600px) {
    .sidebar {
        width: 12.5vw;
        font-size: .75em;
    }

    .sidebar-header button img {
        width: 165px;
        height: 110px;
    }

    .sidebar-list h6 a {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .dashboard {
        min-width: 87.5vw;
    }
}

@media only screen and (min-width: 1920px) {
    .sidebar {
        width: 10vw;
    }

    .sidebar-header button img {
        width: 174px;
        height: 116px;
    }

    .sidebar-list h6 a {
        padding-left: 1.25em;
        padding-right: 1.25em;
    }

    .dashboard {
        min-width: 90vw;
    }
}